<h1 class="h-center" >Purchases</h1>

<div id="purchases">
  <% @purchases.each do |purchase| %>
    <%= render purchase %>
    <p>
      <%= link_to "Show item", purchase, class: 'back' %> </button>
    </p>
  <% end %>
</div>

<button class="btn-1"> <%= link_to "Purchase", new_purchase_path, class: 'back8' %> </button>
