<div class="welcome">
  <h1 class="welcome-head">Naivas Purchase App</h1>
  <p class="welcome-p">Welcome to the Naivas purchase app </p>
  <%= link_to "sign up", new_user_registration_path, class: 'backend' %>
  <%= link_to "sign in", new_user_session_path, class: 'backend' %>
</div>